
/* @media (max-width: 1245px) {
    .Header {
        padding: 0px;
    }
    .header-title {
        flex:2;
        text-align: center;
    }
    
    .logo{
        width: 100px;
    }
    .add-post-button {
        display: flex;
    }

    .user-login-button{
        display: flex;
    }
} */

/* --iphone X -- */
/* @media only screen and (min-device-width: 750px) 
   { 

    .Header{
        
        flex-direction: column!important;
        padding: 0px; 
    }

    .header-title {
       
        text-align: center;
            
    } 

     .title {
        size: 0.1em!important;
        margin: auto;
    } 

    .logo {
       width: 1rem;
    }

    .UserDropdown {
       flex-direction: column;
    }

    .Searchbar {

        align-items: center;
        width: 8rem;
        margin: 1rem;
    }

    .add-post-button

} */